<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmg.vaccine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Noactionbar"
        android:usesCleartextTraffic="true">
        <activity android:name=".TestReportFailedActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".RRTPCRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorldEntriesDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddWorldEntryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ViewProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdvisoryAlertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegulatoryUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationGroupListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckOutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestReportDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExistingUserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EditDependentProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddDependentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginPinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTPVerifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordDoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FAQTravelAdvisoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SuccessPopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AutherizationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PastVaccineDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ChoosePastVaccinationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TellUsMoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ChangeLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".NotificationDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewReportDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPrivateKeyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupCompleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:label="Home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".receiver.OTPReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>